#NavigationBar {
    display: flex;
    flex-direction: row;
}

.buttons {
    flex: 5;
    display: flex;
    flex-direction: row;
}

.buttons div {
    height: 200px;
    width: 200px;
}

#logo {
    justify-content: end;
    flex: 5;
}

#Home {
    color: white;
    background-color: #25c389;
}

#Pages {
    color: white;
    background-color: #ffb901;
}

#Blog {
    color: white;
    background-color: #de6262;
}

#Portfolio {
    color: white;
    background-color: #1691bd;
}

#Email {
    color: white;
    background-color: #166ba2;
}

.applications-content-box {
    display: flex;
    flex-direction: row;
}

.demo{
    display: flex;
    flex-direction: column;
    text-align:center;
}

.clients{
    margin:0 auto;
    width: 1300px;
}

.clients .support{
    text-align: center;
    position: relative;
    line-height: 200px;
}

.clients .support .img{
    width: 250px;
    height: 300px;
}

.demoleft{
    width: 400px;
    height: 300px;
}


.demoleft .blue{
 background-color: #52a0d4;
 height: 23px;
 color: white;
}

.demoleft .blue .button{
    float:right;
    background-color: #52a0d4;
}

.demoleft .websolution{
    background-color: rgb(236, 235, 235);
    width: 400px;
    height: 150px;
}

.demoleft .websolution .green{
    background-color: rgb(135, 211, 135);
    width: 60px;
    height: 60px;
}

.demoleft .websolution .subtitle{
    font-size: 15px;
}

.demoleft .websolution .p{
    font-size: 14px;
}

.samplemenu{
    display: flex;
}