.demo{
    display: flex;
    flex-direction: column;
    text-align:center;
}

.clients{
    margin-left:700px;
    width: 1300px;
}

.clients .support{
    text-align: center;
    position: relative;
    line-height: 200px;
}

.clients .support .img{
    width: 250px;
    height: 300px;
}

.demobox{
    display: flex;
    flex-direction: row;
}

.demoleft{
    margin-left: 400px;
    width: 400px;
    height: 300px;
}


.demoleft .blue{
 background-color: #52a0d4;
 height: 23px;
 color: white;
}

.demoleft .blue .button{
    float:right;
    background-color: #52a0d4;
}

.demoleft .websolution{
    background-color: rgb(236, 235, 235);
    width: 400px;
    height: 150px;
}

.demoleft .websolution .green{
    background-color: rgb(135, 211, 135);
    width: 60px;
    height: 60px;
}

.demoleft .websolution .subtitle{
    font-size: 15px;
}

.demoleft .websolution .p{
    font-size: 14px;
}

.samplemenu{
    border:1px solid #dddddd;
    margin-top: 3px;
    height: 23px;
    width: 400px;
}

.samplemenu .button {
    float: right;
    background-color: white;
    color: #a7a7a7;
}

.demoright{
    margin-left: 300px;

}

.demoright .tab1{
    display:inline-block;
    width: 60px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.demoright .tab2{
    display:inline-block;
    width: 60px;
    height: 30px;
    background-color: rgb(206, 206, 206);
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.demoright .tab3{
    display:inline-block;
    width: 60px;
    height: 30px;
    background-color: rgb(206, 206, 206);
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.demoright{
    width: 600px;
}

.demoright .text{
    border: 1px solid #000000;
}

.demoright .text .one{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
